
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #619c55;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.cabecalho-imagem{
    width: 25%;
    padding: 24x 0;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 18 10px;
    font-size: 70px;
}

.escola-imagem{
    width: 40%;
}


.escola{
    background-image: linear-gradient(#619c55,#39852a);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.escola-div-conteudo{
    width: 50%;
    font-size: 15px;
}

.escola-titulo{
    padding: 24px 0;
}

.estudante{
    padding: 23px 0;
}
.drone-imagem{
    width: 220px;
}
.maquina-imagem{
    width: 240px;
}
.irrigacao{
    width: 140px;
}
.homem-imagem{
    width: 250px;
}
.tecnicoagro-imagem{
    width: 260px;
}
.tecnico-imagem{
    width: 250px;
}
.industria-imagem{
    width: 250px;
}
.graos-imagem{
    width: 250px;
}
.estudante-div{
    text-align: center;
    padding: 16px 0;
}
.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: rgb(25, 133, 52);
    text-align: center;
}

.rodape-imagem{
    height: 200px;
    padding: 60px 80;
    width: 100%;
   
}